.contact-us {
    max-width: 600px;
    margin: 40px auto;
    padding: 40px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    margin-top: 200px;
  }
  
  .contact-us h2 {
    margin-top: 0px;
    font-weight: bold;
    color: #333;
  }
  
  .contact-info {
    margin-top: 20px;
  }
  
  .contact-info p {
    margin-bottom: 10px;
  }
  
  .contact-info i {
    font-size: 24px;
    margin-right: 10px;
    color: #666;
  }
  
  .contact-info span {
    font-size: 18px;
    color: #333;
  }